*{
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  /* right: 0; */
}
.nav-container {
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(33, 33, 33);
  color: #fff;
  padding: 15px;
}

.nav-header {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.search-form {
  width: 300px;
  /* padding: 5px; */
  border: none;
  border-radius: 35px;
  text-align: center;
  font-size: 16px;
}

.search-form:focus {
  outline: 0;
}

.navbar-items {
   display: flex;
   align-items: center; 
   justify-content: space-between; 
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-list li {
  margin: 0 10px;
} 

a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.home-container {
  background-color: rgb(111, 111, 111);
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.form-group input {
  max-width: 100%;
  padding: 8px;
}

.login-btns {
  display: flex;
  align-items: center;
}

.login-btn ,
.register-btn {
  padding: 8px;
  border: none;
  border-radius: 3px;
  margin  : 0 5px;
  color: #fff;
}

.login-btn {
  width: 50px;
  background-color: green;
}

.register-btn {
  background-color: blueviolet;
}

.post-qtn , 
.myPro-answers-btn {
  background-color: green;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.myPro-answers-btn {
  background-color: orange;
}

.post-qtn:hover , 
.myPro-answers-btn:hover {
  background-color: rgba(136, 136, 136, 0.5);
}

.myPro-asked-qtns-container {
  margin-bottom: 20px;
}

.ask-qtn-btn-container {
  display: flex;
  align-items: space-between;
}

.profile-askQtnBtn-container {
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;

}

.dashboard-container ,
.answers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.profile-question-answers ,
.profile-selected-qtn {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dashboard-header , 
.selected-qtn-title ,
.my-questions-title ,
.answers-title {
  text-align: center;
  text-decoration: underline 2px solid gray;
  text-underline-offset: 2px;
}

.answers-title {
  color: orange;
}

.qtns-list ,
.answers-list ,
.profile-answers-list {
  list-style-type: none;
  /* margin: 0; */
}
.profile-answers-list {
  /* width: 600px; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
}

.qtn-content ,
.answer-content ,
.profile-answer-content ,
.user-answer-content {
  width: 600px;
  list-style-type: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 5px;
  margin: 5px 0;
  padding: 12px;
}

.profile-answer-content ,
.user-answer-content {
  position: relative;
} 

.comment-section {
   width: 100%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: flex-end; */ 
}

.qtn-body ,
.date-answer-container ,
.question-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.qtn-btns {
  display: inline-flex;
}

.qtn-btns form {
  margin: 0;
}

.date-answer-container {
  position: absolute;
  top: 48;
  right: 8;
  /* margin: 10px; */
}

.answer-btn ,
.delete-btn ,
.pick-answer-btn {
  background-color: whitesmoke;
  border: none;
  border-radius: 35px;
  font-size: 14px;
  font-family: inherit;
  margin: 0 5px;
  padding: 0 5px;
}

.answer-btn ,
.pick-answer-btn {
  color: green;
}

.delete-btn {
  color: red;
  font-size: 13px;
}

.qtn-link {
  color: blue;
}

.post-answer-form ,
.post-comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.post-answer-form textarea ,
.post-comment-form textarea {
  font-size: 18.5px;
}

.post-comment-form textarea {
  /* width: 100%; */
}

.answer-qtn:focus {
  outline: none;
}

.submit-answer-btn {
  background-color: green;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  color: #fff;
  font-family: inherit;
}

.submit-answer-btn:active {
  transform: scale(0.98);
}

.answer-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.picked-answer {
  border-top: 5px solid green;
}

.answer-body-container {
  display: flex;
  justify-content: space-between;
}

.votes-container {
  position: absolute;
  top: 5;
  right: 10;
  display: flex;
  flex-direction: column;
}

.votes small {
  color: green;
  font-size: 12px;
}

.vote-btns {
  display: inline-flex;
}

.upvote-btn ,
.downvote-btn {
  border: none;
  font-weight: bolder;
}

.downvote-btn {
  margin-right: 5px;
}

.votes-display {
  border: none;
  width: 50px;
}


