*{
  box-sizing: border-box;
}

.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
}
.nav-container {
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(33, 33, 33);
  color: #fff;
  padding: 15px;
}

.nav-header {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.search-form {
  width: 300px;
  border: none;
  border-radius: 35px;
  text-align: center;
  font-size: 16px;
}

.search-form:focus {
  outline: 0;
}

.navbar-items {
   display: flex;
   align-items: center; 
   justify-content: space-between; 
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-list li {
  margin: 0 10px;
} 

a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.home-container-content {
  background-color: rgb(111, 111, 111);
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.form-group {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.form-group input {
  max-width: 100%;
  padding: 8px;
}

.login-btns {
  display: flex;
  align-items: center;
}

.login-btn ,
.register-btn ,
.logout-btn {
  padding: 10 25px;
  border: none;
  border-radius: 3px;
  margin  : 0 5px;
  color: #fff;
  cursor: pointer;
}

.login-btn {
  background-color: green;
}

.register-btn {
  background-color: blueviolet;
}

.logout-btn {
  background-color: skyblue;
}

.login-btn:hover ,
.register-btn:hover ,
.logout-btn:hover {
  background-color: rgba(136, 136, 136, 0.5);
}

.login-btn:active ,
.register-btn:active ,
.logout-btn:active {
  transform: scale(0.98);
}

.main-pro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ask-question-titleInput {
  width: 800px;
  margin-bottom: 10px;
}

.ask-title-form {
  width: 100%;
  padding: 10px;
}

.ask-question-body {
  display: flex;
  flex-direction: column;
}

.profile-askQtnBtn-container {
  width: 800px;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-left: 38px;
}

.dashboard-ask-questionBtn ,
.myPro-ask-questionBtn {
  background-color: green;
}

.dashboard-ask-questionBtn ,
.myPro-ask-questionBtn , 
.myPro-answers-btn {
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.myPro-ask-questionBtn {
  position: absolute;
  top: 0;
  left: 0;
}

.myPro-answers-btn {
  background-color: orange;
  position: absolute;
  top: 0;
  right: 0;
}

.post-qtn:hover , 
.myPro-answers-btn:hover {
  background-color: rgba(136, 136, 136, 0.5);
}

.myPro-asked-qtns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-container ,
.user-answers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.dashboard-header , 
.user-selectedQtn-title ,
.answers-title ,
.user-name-title ,
.selected-comments-title ,
.add-comments-title ,
.selected-answer-title ,
.edit-answer-title ,
.edit-question-title ,
.edit-comment-title ,
.ask-question-title ,
.myPro-selectedQtn-title ,
.home-selectedQtn-title ,
.home-questions-title { 
  text-align: center;
  text-decoration: underline 2px solid gray;
  text-underline-offset: 2px;
}

.myPro-questions-title {
  text-align: center;
  text-decoration: underline 2px solid gray;
}

.answers-title ,
.selected-comments-title {
  color: orange;
}

.dashboard-qtns-list ,
.user-selectedQtns-list ,
.myPro-answers-list ,
.profile-answers-list ,
.comments-list ,
.comment-selectedQtns-list,
.selected-answer-list ,
.profile-selectedQtn-list ,
.search-qtns-list ,
.user-answers-list ,
.home-qtns-list {
  list-style-type: none;
}

.profile-answers-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
}


.dashboard-qtn-content ,
.user-selectedQtn-content ,
.answer-content ,
.profile-answer-content ,
.user-answer-content ,
.profile-qtn-content ,
.profile-selectedQtn-content ,
.selected-commentAnswer-content ,
.comment-content ,
.comment-selectedQtn-content ,
.search-qtns-content ,
.home-qtn-content ,
.home-qtns-content {
  width: 800px;
  list-style-type: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 5px;
  margin: 5px 0;
  padding: 16px;
  letter-spacing: 1px;
  word-wrap: break-word;
  word-break: break-all;
  position: relative;
}

.profile-answer-content ,
.user-answer-content {
  padding-left: 45px;
  padding-bottom:30px ;
} 

.myPro-answers-container ,
.date-answer-container ,
.question-date ,
.myPro-qtns-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.dashboard-qtn-author ,
.dashboard-qtn-title ,
.user-answer-author ,
.user-answered-date ,
.user-SelectedQtn-askedDate ,
.user-SelectedQtn-author ,
.comment-author ,
.comment-date ,
.home-question-title ,
.home-question-date ,
.selected-homeQtn-date ,
.selected-homeQtn-username ,
.home-qtnAnswer-username ,
.home-qtnAnswer-date ,
.searched-qtn-date ,
.searched-qtn-title ,
.profile-questions-title ,
.profile-questions-date ,
.profile-selectedQtn-username ,
.profile-selectedQtn-date ,
.profile-qtnAnswer-date ,
.profile-qtnAnswer-username ,
.selected-commentAnswer-username ,
.selected-commentAnswer-date ,
.myPro-answer-author ,
.myPro-answer-date {
  text-decoration: underline 1px solid gray;
  text-underline-offset: 2px;
  line-height: 20px;
}

.answer-author {
  margin-bottom: 10px;
}

.dashboard-qtn-title ,
.home-question-title ,
.selected-homeQtn-username ,
.home-qtnAnswer-username ,
.searched-qtn-title ,
.profile-questions-title ,
.profile-selectedQtn-username ,
.profile-qtnAnswer-username ,
.selected-commentAnswer-username ,
.comment-author ,
.myPro-answer-author ,
.dashboard-qtn-author ,
.user-SelectedQtn-author ,
.user-answer-author {
  font-size: 17px;
}

.selected-homeQtn-body ,
.home-qtnAnswer-body ,
.profile-selectedQtn-body ,
.profile-qtnAnswer-body ,
.selected-commentAnswer-body ,
.comment-body ,
.myPro-answer-body ,
.user-SelectedQtn-body ,
.user-answer-body , 
.profile-qtn-body ,
.searched-qtn-body ,
.dashboard-qtn-body ,
.home-qtn-body {
  margin-top: 5px;
  font-size: 19px;
}

.profile-answer-btns ,
.profile-question-btns ,
.dashboard-answer-btn {
  display: inline-flex;
}

.profile-answer-btns form ,
.profile-question-btns form{
  margin: 0;
}

.allMark-btns-container ,
.user-deleteAnswer-container ,
.dashboard-answer-btn {
  position: absolute;
  top: 25;
  right: 20;
}

.comments-btn-container {
  position: absolute;
  left: 40;
  bottom: 5;
}

.edit-commentBtns-container {
  display: flex;
  left: 0;
  bottom: 0;
  margin: 10px 0 -15px 0;
}

.answer-btn ,
.edit-comment-btn ,
.delete-btn ,
.pick-answer-btn ,
.view-comments-btn,
.add-comments-btn {
  background-color: whitesmoke;
  border: none;
  border-radius: 35px;
  font-size: 14px;
  font-family: inherit;
  margin: 0 5px;
  padding: 0 5px;
  cursor: pointer;
}

.answer-btn ,
.edit-comment-btn ,
.pick-answer-btn {
  color: green;
}

.view-comments-btn ,
.add-comments-btn {
  color: blue;
}

.delete-btn {
  color: red;
  font-size: 13px;
}

.qtn-link {
  color: blue;
}

.post-answer-form ,
.post-comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.post-answer-form textarea ,
.post-comment-form textarea {
  font-size: 18.5px;
}

.answer-qtn:focus {
  outline: none;
}

.submit-answer-btn ,
.submit-comment-btn ,
.submit-question-btn {
  background-color: green;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  color: #fff;
  font-family: inherit;
}

.submit-answer-btn:active ,
.submit-comment-btn:active ,
.submit-answer-btn:active {
  transform: scale(0.98);
}

.answer-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.picked-answer {
  border-top: 5px solid green;
}

.answer-body-container {
  display: flex;
  justify-content: space-between;
}

.votes-container {
  background-color: rgb(174, 174, 174);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 40px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.votes {
  margin: 0;
  text-align: center;
  color: green;
}

.votes-title {
  color: whitesmoke;
  text-align: center;
}

.upvote-btn ,
.downvote-btn {
  border: none;
  font-weight: bolder;
  transform: rotate(-90deg);
}

.upvote-btn {
  margin-bottom: -15px;
}

.votes-display {
  border: none;
  width: 50px;
}




