{% extends "layout.html" %}

{% block body %}

  <h1>Post answer to question</h1>

  <div class="asked-qtns">

    <div class="profile-selected-qtn">
      <ul class="qtns-list">            
        <li class="qtn-content">
          {{question.title}} 
          <br>
          <small>Asked by {{question.asked_by}}</small>
          <br>
          <div class="qtn-body">
            {{question.body | safe}} 
        </div>         
        </li>
      </ul>
    </div>
            
    <form action="" method="POST" class="post-answer-form">
      <div class="answer-form-group">
        <textarea name="answer" cols="70" rows="6" class="answer-qtn" placeholder="Answer question"></textarea>
    </div>
    <input type="submit" value="submit" class="submit-answer-btn">
  </form>

  </div>

{% endblock %}

