{% extends "layout.html" %}

{% block body %}
    
    <h1 class="dashboard-header">
        Welcome!
      <br>
      Don't get stuck
    </h1>
    <hr>

    <a href="/post_question" class="post-qtn">Ask Question</a>
    <hr>

    <div class="asked-qtns">
      <ul class="qtns-list">
        {% for question in questions %}         
        <li class="qtn-content">
          <small>Asked by : {{question.username}}</small>
        <br>
          <small>{{question.title}}</small>
        <br>
          <div class="qtn-body">
            <a href="user_question/{{question.id}}" class="qtn-link">{{question.body}}</a>  
            {% if question.username != session["username"]%}                    
             <div class="qtn-btns">
              <a href="/answer_question/{{question.id}}" class="answer-btn">answer</a>
            </div>  
            {% endif %}   
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

{% endblock %}

<!-- <a href="/delete_question" class="delete-btn">delete</a> -->