{% extends "layout.html" %}

{% block body %} 

  <h1 class="edit-answer-header">Edit Answer</h1>



  <div class="edit-answer-container">
    <form action="" method="POST" class="edit-answer-form">

        <div class="ask-question-area">
          <textarea name="answer" cols="70" rows="10" placeholder="Edit question">{{answer.answer_body | safe}}</textarea>       
        </div>  

        <div class="submit-answerBtn-container">
          <input type="submit" value="submit" class="edit-answer-btn">  
       </div>

    </form>  
  </div>  

{% endblock %}