{% extends "layout.html" %}

{% block body %}

  <div class="home-container">
    <div class="home-container-content">
      <h1>Welcome to Stack overflow</h1> 
      <div class="login-btns">
        {% if session.logged_in %}
          <form action="/logout">
            <input type="submit" value="Logout" class="logout-btn" >
          </form>
        {% else %}
          <form action="/login">
            <input type="submit" value="Login" class="login-btn" >
          </form>
        {% endif %}
        {%if not session.logged_in %}
          <form action="/register">
            <input type="submit" value="Register" class="register-btn">
          </form>  
        {% endif %} 
      </div>
    </div>
  </div>   

{% endblock %}