{% extends "layout.html" %}

{% block body %} 

  <h1>@{{session["username"]}}</h1>

  <div class="answers-">
      <h1 class="answers-title">My Answers</h1>
        
      <div class="my-answers">  
        <ul class="answers-list"> 
          {% for answer in answers %}     
          <li class="answer-content {% if answer.marked_answer %}picked-answer{% endif %}">
            
            <div class="qtn-body">
              <small>{{answer.answered_date}}</small> 

              <div class="qtn-btns">
                <a href="/edit_answer/{{answer.id}}" class="answer-btn">edit answer</a>

                <form action="{{url_for('delete_answer', id=answer.id)}}" method="POST">
                  <input type="hidden" name="method" value="DELETE">
                  <input type="submit" value="delete" class="delete-btn">
                </form>
              </div> 
            </div>               

            <small>Answered by {{answer.answer_username}}</small>
            <br>
            {{answer.answer_body | safe}} 
                    
          </li>  
          {% endfor %}  
        </ul>
      </div>
  </div>    
  
{% endblock %}