{% extends "layout.html" %}

{% block body %}

  <h1>Comments</h1>

  <div class="comments-container">
    <div class="profile-selected-qtn">
      <ul class="qtns-list">            
        <li class="qtn-content">
          {{answer.answered_date | safe}}  
          <br>
          <small>Posted by {{answer.answer_username}}</small>
          <br>
          <small>{{answer.answer_body | safe}}</small>          
        </li>
      </ul>
    </div>

    <div class="comment-container">
        <form action="" method="POST" class="post-comment-form">
          <div class="answer-form-group">
            <textarea name="comment" cols="70" rows="6" class="add-comment" placeholder="Add comment"></textarea>
        </div>
        <input type="submit" value="submit" class="submit-answer-btn">
      </form>
    </div>

  </div>
{% endblock %}