{% extends "layout.html" %}

{% block body %} 

  <h1>@{{session["username"]}}</h1>
  
  <div class="main-pro-container">

    <div class="profile-askQtnBtn-container">
      <a href="/post_question" class="myPro-ask-questionBtn">Ask Question</a>
      <a href="/myPro_answers" class="myPro-answers-btn">My Answers</a>
    </div>

    <div class="myPro-asked-qtns-container">  
      <h3 class="myPro-questions-title">My Questions</h3>    
      <ul class="qtns-list">
        {% for question in questions %}         
        <li class="qtn-content">

        <div class="myPro-qtns-title-container">
          <small>{{question.title}}</small>
            
          <div class="qtn-btns">
            <a href="/edit_question/{{question.id}}" class="answer-btn">edit question</a>
          
            <form action="{{url_for('delete_question', id=question.id)}}" method="POST">
            <input type="hidden" name="method" value="DELETE">
            <input type="submit" value="delete" class="delete-btn">
            </form>
          </div>
        </div>
        
          <small>Asked by : {{question.username}}</small>
        <br>
          <a href="profile_question/{{question.id}}" class="qtn-link">{{question.body}}</a>

        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}