{% extends "layout.html" %}

{% block body %} 

  <h1>@{{session["username"]}}</h1>
    
  <div class="main-pro-container">
    <div class="myPro-asked-qtns-container">

      <div class="ask-qtn-btn-container">
        <a href="/post_question" class="post-qtn">Ask Question</a>
        <a href="/myPro_answers" class="myPro-answers-btn">My Answers</a>
       </div>

      <h1 class="my-questions-title">My Questions</h1>

      <ul class="qtns-list">
        {% for question in questions %}         
        <li class="qtn-content">
        <small>Asked by : {{question.username}}</small>
        <br>
        <small>{{question.title}}</small>
        <br>
        <div class="qtn-body">
          <a href="profile_question/{{question.id}}" class="qtn-link">{{question.body}}</a>
            
          <div class="qtn-btns">
            <a href="/edit_question/{{question.id}}" class="answer-btn">edit question</a>
          
            <form action="{{url_for('delete_question', id=question.id)}}" method="POST">
            <input type="hidden" name="method" value="DELETE">
            <input type="submit" value="delete" class="delete-btn">
            </form>
          </div>
        </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}