{% extends "layout.html" %}

{% block body %}
  <div class="answers-container">
    <div class="selected-qtn">
      <h1 class="selected-qtn-title">{{question.title}}</h1>
      <ul class="qtns-list">            
        <li class="qtn-content">
          {{question.body | safe}}  
          <br>
          <small>Posted by {{question.username}}</small>
          <br>
          <small>{{question.date_asked}}</small>          
        </li>
      </ul>
  </div>

    <div class="answers-">
      <h1 class="answers-title">Answers</h1>
      <ul class="answers-list"> 
        {% for answer in answers %}     
        <li class="answer-content picked-answer">
          {{answer.answer_body | safe}}  
          <br>
          <small>Answered by {{answer.answer_username}}</small>
          <br>
          <small>{{answer.answered_date}}</small>          
        </li>  
        {% endfor %}  
      </ul>
  </div>
</div>
{% endblock %}